In [1]:
import sys 
sys.path.insert(1,"../src")

import hayleys_work

df_system_access, df_employees = hayleys_work.load_data()

In [2]:
df_system_access['id'] = df_system_access['id'].apply('EMP{0:0>6}'.format)

df_system_access.head()

          id    access_level
0  EMP003045  Contract Entry
1  EMP003051  Contract Entry
2  EMP003068  Contract Entry
3  EMP003097   Account Admin
4  EMP003133  Contract Entry

In [3]:
df = hayleys_work.combine_data(df_system_access, df_employees)
df.head()

,access_level,first_name,last_name,email,title
id,,,,,
EMP003037,NaN,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
EMP003045,Contract Entry,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
EMP003051,Contract Entry,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
EMP003068,Contract Entry,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
EMP003097,Account Admin,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager

In [4]:
df.isnull().sum()

access_level    137
first_name        0
last_name         0
email             0
title             0
dtype: int64